header{
    background-color: brown;
    height: 100px;
    width: 25%
}
footer{
    background-color: beige;
    height: 100px;
    width: 25%
}
table{
    width: 25%
}
#cel1{
    background-color: aqua;
}
#cel2{
    background-color: rebeccapurple;
}
#cel3{
    background-color: gray;
}
#cel4{
    background-color: green;
}
#cel5{
    background-color: aquamarine;
}
#cel6{
    background-color: palegoldenrod;
}
#cel7{
    background-color: honeydew;
}
#cel8{
    background-color: hotpink;
}
#cel9{
    background-color: khaki;
}
#cel10{
    background-color: skyblue;
}
#cel11{
    background-color: indianred;
}
#cel12{
    background-color: olive;
}
#cel13{
    background-color: palevioletred;
}
#cel14{
    background-color: cadetblue;
}
#cel15{
    background-color: burlywood;
}
#cel16{
    background-color: lightgreen;
}

